{{ block "content" . }}
<div class="row">
    <div id="msg">
        
    </div>
    <div class="row">
        <div class="input-group col-xs-12 div-calc">
            <textarea disabled class="form-control text-calc" rows="5" id="calc-text"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="ltparen">(</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="rtparen">)</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="pow">**</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="mod">%</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="seven">7</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="eight">8</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="nine">9</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="div">/</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="four">4</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="five">5</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="six">6</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="mul">*</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="one">1</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="two">2</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="three">3</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="sub">-</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="zero">0</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="dot">.</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="del">DEL</button>
        </div>
        <div class="col-xs-3 nopadding">
            <button type="button" class="btn btn-default btn-calc" id="add">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 nopadding">
            <button type="button" class="btn btn-warning btn-calc-lg" id="clear">Clear</button>
        </div>
        <div class="col-xs-6 nopadding">
            <button type="button" class="btn btn-info btn-calc-lg" id="calc">Calculate</button>
        </div>
    </div>
</div>
{{ end }}
